*.log
.directory

minecraft/.fabric/
minecraft/.hidden
minecraft/.mixin.out/
minecraft/backups/
minecraft/cache/
minecraft/command_history.txt
minecraft/coremods/
minecraft/crash-reports/
minecraft/data/
minecraft/debug-profile.json
minecraft/debug/
minecraft/downloads/
minecraft/frozenlib/
minecraft/libraries/
minecraft/logs/
minecraft/mods/*.disabled
minecraft/mods/*.jar
minecraft/mods/.index/
minecraft/options.txt
minecraft/photographs/
minecraft/realms_persistence.json
minecraft/saves/
minecraft/screenshots/
minecraft/server-resource-packs/
minecraft/servers.dat
minecraft/servers.dat_old
minecraft/servers.essential.dat
minecraft/shaderpacks/*.zip
minecraft/texturepacks/
minecraft/usercache.json
minecraft/usernamecache.json

# Essential
minecraft/essential/**
!minecraft/essential/
!minecraft/essential/config.toml

# Configs

minecraft/config/*.disabled
minecraft/config/appleskin.json5
minecraft/config/badoptimizations.txt
minecraft/config/betternightvision.json
minecraft/config/blockbox-config.json
minecraft/config/c2me.toml
minecraft/config/chat_heads.json5
minecraft/config/essentialpatcher-equipped.json
minecraft/config/ferritecore.mixin.properties
minecraft/config/forgeconfigapiport.toml
minecraft/config/frozenlib/
minecraft/config/music_tweaks/
minecraft/config/recreative_exports/

# JEI
minecraft/config/jei/**
!minecraft/config/jei/
!minecraft/config/jei/jei-client.ini
!minecraft/config/jei/jei-mod-id-format.ini
!minecraft/config/jei/recipe-category-sort-order.ini

# TrailierTales
minecraft/config/trailiertales/*.json5
!minecraft/config/trailiertales/
!minecraft/config/trailiertales/entity.json5
!minecraft/config/trailiertales/misc.json5
!minecraft/config/trailiertales/worldgen.json5

# Wilder Wild
minecraft/config/wilderwild/*.json5
!minecraft/config/wilderwild/
!minecraft/config/wilderwild/item.json5
!minecraft/config/wilderwild/mixins.json5