minecraft/.fabric/
minecraft/.hidden
minecraft/.mixin.out/
minecraft/backups/
minecraft/cache/
minecraft/coremods/
minecraft/crash-reports/
minecraft/data/
minecraft/debug/
minecraft/downloads/
minecraft/frozenlib/
minecraft/libraries/
minecraft/logs/
minecraft/screenshots/
minecraft/server-resource-packs/
minecraft/texturepacks/
minecraft/command_history.txt
minecraft/debug-profile.json
minecraft/options.txt
minecraft/realms_persistence.json
minecraft/servers.dat
minecraft/servers.dat_old
minecraft/servers.essential.dat
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/mods/*.jar
minecraft/mods/*.disabled
minecraft/mods/.index/
minecraft/config/jei/world/local/
minecraft/essential/**
!minecraft/essential/
!minecraft/essential/config.toml
minecraft/saves/
minecraft/photographs/
minecraft/shaderpacks/*.zip
.directory
*.log