minecraft/.fabric/
minecraft/.mixin.out/
minecraft/backups/
minecraft/cache/
minecraft/coremods/
minecraft/crash-reports/
minecraft/data/
minecraft/debug/
minecraft/downloads/
minecraft/essential/**
minecraft/frozenlib/
minecraft/libraries/
minecraft/logs/
minecraft/mods/.index/
minecraft/mods/*.disabled
minecraft/mods/*.jar
minecraft/saves/
minecraft/server-resource-packs/
minecraft/shaderpacks/*.zip
minecraft/texturepacks/
minecraft/command_history.txt
minecraft/debug-profile.json
minecraft/realms_persistence.json
minecraft/servers.dat
minecraft/usercache.json
minecraft/usernamecache.json
!minecraft/essential/
!minecraft/essential/config.toml
*.log
